html {
    height: 100%;
    background-color: white;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
/* Avatar image */
img.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* Add display block and centering for the preview image */
#preview-img {
  display: block;
  margin: 0 auto;
}
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 100px;
    background-color: #86bce2;
  }
  
  .logo {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4c333a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #113a1a;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
  }
  